<footer>
    <section class="footer-column">
        <div class="footer-icon"><i class="fas fa-credit-card"></i></div>
        <h5 class="footer-title">Pagá con tarjeta o en efectivo</h5>
        <p class="footer-paragraph">
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre
            es seguro!
        </p>
    </section>
    <section class="footer-column">
        <div class="footer-icon"><i class="fas fa-gift"></i></div>
        <h5 class="footer-title">Envío gratis desde $ 2.500</h5>
        <p class="footer-paragraph">
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio
            de Mercado Puntos.
        </p>
    </section>
    <section class="footer-column">
        <div class="footer-icon"><i class="fas fa-user-shield"></i></div>
        <h5 class="footer-title">Seguridad, de principio a fin</h5>
        <p class="footer-paragraph">
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
            protegid@.
        </p>
    </section>
    <section class="footer-column">
        <p class="footer-paragraph">
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </p>
    </section>
</footer>
