<header>
    <div class="top-header">
        <div class="logo-search">
            <div class="logo">
                <a href="/"><img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre"></a>
            </div>
            <div class="search-box">
                <form class="form" action="/" method="GET">
                    <input type="text" placeholder="Buscar productos">
                    <button type="submit" class="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
        <div class="compra-en-cuotas">
            <p><i class="fas fa-hand-holding-usd"> </i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
    </div>
    <nav>
        <ul class="menu-left">
            <li><a href="#">Ofertas <i class="fas fa-gifts"></i></a></li>
            <li><a href="#">Tiendas Oficiales <i class="fas fa-store-alt"></i></a></li>
            <li><a href="#">Vender <i class="fas fa-cash-register"></i></a></li>
            <li><a href="#">Ayuda <i class="fas fa-question-circle"></i></a></li>
        </ul>
        <ul class="menu-right">
            <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
            <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
    </div>
</header>
