<!DOCTYPE html>
<html lang="en">

    <%- include ('./partials/head') %>
    <body>
        
    <%- include ('./partials/header') %>

    <main class="login-main">
        <div class="login-form">
            <h2 class="login-title">Ingresar</h2>
            <form action="/login" method="post">
                <div class="form-element">
                    <label for="username">Nombre de usuario</label>
                    <input type="text" name="username">
                </div>
                <div class="form-element">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password">
                </div>
                <div class="form-element multiple">
                    <button type="submit" class="submit">Enviar</button>
                </div>
            </form>
        </div>
    </main>

    <%- include ('./partials/footer') %>

</body>

</html>